form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.calculadora {
    width: 400px;
}

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background: #dfdfdf;
    cursor: pointer;
}

.btn:hover {
    background: #9e9e9e;
}